# Files produced by p_r
*.log
*_synth.v
*.history
lut*.txt
*.refwire
*.refparam
*.refcomp
*.pos
*.pathes
*.path_struc
*.net
*.id
*.prn
*_00.v
*.used
*.sdf
*.place
*.pin
*.cfg
*.min
*.bit
*.cdf
*.idh
# nextpnr
*.txt
*.json
# Setup file
environment.sh
# Post pnr verilog
*_pnr.v
